.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 3em;
  height: 3em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;

}

ul.pagination li:first-child{
  border-radius: 1em 0 0 1em;
}

ul.pagination li:last-child{
  border-radius: 0 1em 1em 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #4A4D4B;
  font-size: 1.1em;
}

ul.pagination li.active a {
  color: yellowgreen; 
}

ul.pagination li.active {
  background-color: #6e6e6E;
  border-radius: 6em;
}

ul.pagination li a:hover {
  color: black;
}
ul.pagination li:hover{
  /* border-radius: 4em; */
  width: 3em;
  height: 3.2em;
  opacity: 0.7;
  border-radius: 4em;
  color:black;
  border: none;
  background: white;
}
/* 
.page-selection {
  width: 48px;
  height: 30px;
  color: white;
} */